:root {
    --main-bg-color: white;
    --secondary-bg-color: #bbadad;
    --main-close-bg-color: #e0d8d8;
    --main-fg-color: black;
    --secondary-fg-color: #0024cf;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: black;
        --main-close-bg-color: #282525;
        --secondary-bg-color: #5e5e5e;
        --main-fg-color: white;
        --secondary-fg-color: #70fbd0;
    }
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

/* Styles of components */

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
}

a, a:visited, a:link {
    text-decoration: none;
    color: var(--main-fg-color);
}

a:active, a:hover, a:focus {
    color: var(--secondary-fg-color)
}

select, input {
    background-color: var(--secondary-bg-color);
    border-color: var(--main-bg-color);
    border-width: 0 0 0.2em 0;
    color: var(--main-fg-color);
    font-size: 1.2em;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
    text-align: center;
}

input::-moz-focus-inner {
    border: 0;
}

select:disabled, input:disabled {
    background-color: var(--main-bg-color);
    border: 0;
}

button {
    cursor: pointer;
}

/* Custom component classes */
.tile-list {
    display: inline-flex;
    flex-direction: column;
    gap: 1em;
}

.tile-match {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--main-close-bg-color);
    padding: 0.5em;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.versus-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.versus-container > * {
    display: inline-flex;
    align-items: center;
}

.input-bet {
    width: 2em;
}

.select-team-bet {
    border-color: var(--main-fg-color);
    width: 10em;
}

.is-busy {
    border-color: red !important;
}

.has-value {
    border-color: green;
}

.img-flag {
    margin: 0.2em 0.5em;
}

/* Layouts */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
